/*-- Colors --*/

.ui-menu-color-home {
    background-color: blueviolet;
}

.ui-menu-color-about {
    background-color: rgb(18, 48, 218);
}

.ui-menu-color-recipe {
    background-color: rgb(2, 113, 128);
}

.ui-menu-color-shop-advice {
    background-color: rgb(13, 214, 90);
}

.ui-page-title {
    background-color: rgb(255, 0, 0);
    font-weight: 500;
}

.ui-menu-color-home {
    color: #fff;
}

.ui-menu-color-about {
    color: #fff;
}

.ui-menu-color-recipe {
    color: #fff;
}

.ui-menu-color-shop-advice {
    color: #fff;
}

/*-- Formatting --*/

.navbar a {
    text-align: center;
    padding: 10px 10px;
}